<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="architect.jpg" alt="">
  <h1 class="display-5 fw-bold text-body-emphasis">Clients and Schedule Management</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead ">Anna's Architecture has established itself as a trailblazer in sustainable, high-performance
      architecture, blending
      a mission-driven ethos with innovative, interdisciplinary design practices.
      Login to manage your clients and schedule meetings!</p>
    <a class="btn btn-info" routerLink="/clientslist" *ngIf="this.loginSuccess">View Clients</a> 
  <app-login></app-login>
</div>
</div>
